
.a1 {
text-align: center;
}

body{
    background-color:lightgray ;
}

.img{
    margin:10px 40px;
    

}

.str{
    text-align: center;
    
}
h2{
    text-align: center;
}

ul{
    text-align: center;
    list-style: inside;
}

.end{
    text-align: center;
}